<p class="btn-container"><%= link_to "Sign In", new_session_url, class: "btn" %></p>
<section class="form">
  <h2>Create a new account</h2>
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <form class="" action="<%= users_url %>" method="post">
    <%= auth_token %>
    <p>
      <label for="email">Email: </label>
      <input id="email" type="text" name="user[email]" value="<%= @user.email %>">
    </p>
    <p>
      <label for="password">Password: </label>
      <input id="password" type="password" name="user[password]" value="">
    </p>
    <p>
      <input class="btn btn-submit" type="submit" name="" value="Sign Up">
    </p>
  </form>
</section>
